<!DOCTYPE html>
<html ng-app="PettyCashApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Add Petition</title>
        <!--angular-->
        
        <link href="/WebProjectJava/resources/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/WebProjectJava/resources/libraries/angular-growl/angular-growl.min.css"/>
        <script src="/WebProjectJava/resources/libraries/angular/angular.min.js"></script>
        <script src="/WebProjectJava/resources/libraries/angular/angular-route.min.js"></script>
        <script src="/WebProjectJava/resources/angular/app.js"></script>
        <!--controller-->
        <script src="/WebProjectJava/resources/angular/controllers/petition/petitionController.js"></script>
        <!--servicio-->
        <script src="/WebProjectJava/resources/angular/services/petitionServicios/petitionservices.js"></script>
        <!--GROWL-->
        
        <script src="/WebProjectJava/resources/libraries/angular/angular-messages.min.js"></script>
        <script src="/WebProjectJava/resources/libraries/angular/angular-animate.min.js"></script>
        <script src="/WebProjectJava/resources/libraries/angular-growl/angular-growl.min.js"></script>
        
        
    </head>
    <body>
        <div class="panel-body" ng-controller="PetitionCtrl as ctrl">
            <form role="form" name="userForm" ng-cloak>

                <!--NAME-->
                <div class="form-group"
                     ng-class="{'has-error' : userForm.petitionName.$invalid && submitted}">
                    <label class="control-label">Name:</label>
                    <input class="form-control" placeholder="Name" 
                           name="petitionName"
                           ng-model="petition.name"
                           ng-minlength="1" 
                           ng-maxlength="50"
                           required>
                    <!--ng-show="userForm.nombre.$touched"-->
                    <div class="help-block" ng-messages="userForm.petitionName.$error"  ng-cloak>
                        <div ng-message="required">this field is mandatory</div>
                        <p ng-message="minlength">insert at least 1 character</p>
                        <p ng-message="maxlength">too many character 50 characters maximun</p>
                    </div>
                </div>

                <!--AMOUNT-->
                <div class="form-group"
                     ng-class="{'has-error' : userForm.petitionAmount.$invalid && submitted}">
                    <label class="control-label">Amount:</label>
                    <div class="input-group col-xs-4">
                        <input class="form-control" placeholder="Amount:" 
                               name="petitionAmount"
                               ng-model="petition.amount"
                               ng-maxlength="6"
                               ng-pattern="/^\$?\-?([1-9]{1}[0-9]{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\-?\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\(\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))\)$/"
                               required>
                        <span class="input-group-addon" id="basic-addon1">{{petition.amount| currency:"usd: "}}</span>
                    </div>
                    <div class="help-block" ng-messages="userForm.petitionAmount.$error"  ng-cloak>
                        <div ng-message="required">this field is mandatory</div>
                        <p ng-message="maxlength">amount too large (6 digits max)</p>
                        <p ng-message="pattern">only numeric values with a maximun of two decimals</p>
                    </div>
                </div>

                <div class="panel-footer clearfix">
                    <div class="pull-left">
                        <input type="submit" 
                               ng-click="ctrl.submitCreatePetition(petition, userForm.$valid)" 
                               class="btn btn-primary" 
                               value="Aceptar"/>
                    </div>
                </div>
            </form>
        </div>
        <!-- Bootstrap Core JavaScript -->
    </body>
</html>
