<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/WebProjectJava/resources/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1>Petty Cash Management App</h1>

        <p>Custodio Actions</p>
        <ul>
            <li><a href="/../WebProjectJava/registerMoneyInBank" ><i class="fa fa-sign-out fa-fw"></i> Add cash in the bank</a>
            <li><a href="/../WebProjectJava/approvePetitionCustodio" ><i class="fa fa-sign-out fa-fw"></i> Approve petitions</a>
            <li><a href="/../WebProjectJava/listApprovedPetitions" ><i class="fa fa-sign-out fa-fw"></i> Check approved petitions archive</a>
            <li><a href="/../WebProjectJava/addPetition" ><i class="fa fa-sign-out fa-fw"></i> Add a petition (optional)</a>
            <li><a href="/../WebProjectJava/logout" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </ul>

        <!-- jQuery -->
        <script src="/WebProjectJava/resources/libraries/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/WebProjectJava/resources/libraries/bootstrap/dist/js/bootstrap.min.js"></script>

    </body>
</html>