<!DOCTYPE html>
<html ng-app="PettyCashApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>List Approved Petitions</title>

        <!--angular-->
        <link href="/WebProjectJava/resources/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/WebProjectJava/resources/libraries/angular-growl/angular-growl.min.css"/>
        <script src="/WebProjectJava/resources/libraries/angular/angular.min.js"></script>
        <script src="/WebProjectJava/resources/libraries/angular/angular-route.min.js"></script>
        <script src="/WebProjectJava/resources/angular/app.js"></script>

        <!--controller-->
        <script src="/WebProjectJava/resources/angular/controllers/custodio/listApprovedPetitionController.js"></script>
        <!--servicio-->
        <script src="/WebProjectJava/resources/angular/services/custodioservices/custodioServicio.js"></script>
        <!--GROWL-->
        <script src="/WebProjectJava/resources/libraries/angular/angular-messages.min.js"></script>
        <script src="/WebProjectJava/resources/libraries/angular/angular-animate.min.js"></script>
        <script src="/WebProjectJava/resources/libraries/angular-growl/angular-growl.min.js"></script>

        <!--bootstrap-->
        <!-- jQuery -->
        <script src="/WebProjectJava/resources/libraries/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/WebProjectJava/resources/libraries/bootstrap/dist/js/bootstrap.min.js"></script>


    </head>
    <body>
        <div class="panel-body" ng-controller="ListApprovedPetitionCtrl as ctrl" ng-cloak>

            <p>Current Petty cash balance: {{moneyAmount}}</p>

            <table class="table">
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Approved Date</th>
                    <th>Amount</th>
                </tr>
                <tbody ng-repeat="petition in listOfApprovedPetitions">
                    <tr>
                        <td>{{petition.idPetition}}</td>
                        <td>{{petition.name}}</td>
                        <td>{{petition.approvedRejectedDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{petition.amount}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <a href="/../WebProjectJava/" ><i class="fa fa-sign-out fa-fw"></i> go back to the menu</a>
    </body>
</html>
