<!DOCTYPE html>
<html ng-app="PettyCashApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Register Money in Bank</title>
        <!--angular-->
        
        <link href="/WebProjectJava/resources/libraries/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/WebProjectJava/resources/libraries/angular-growl/angular-growl.min.css"/>
        <script src="/WebProjectJava/resources/libraries/angular/angular.min.js"></script>
        <script src="/WebProjectJava/resources/libraries/angular/angular-route.min.js"></script>
        <script src="/WebProjectJava/resources/angular/app.js"></script>
        
        <!--controller-->
        <script src="/WebProjectJava/resources/angular/controllers/custodio/custodioController.js"></script>
        <!--servicio-->
        <script src="/WebProjectJava/resources/angular/services/custodioservices/custodioServicio.js"></script>
        <!--GROWL-->
        <script src="/WebProjectJava/resources/libraries/angular/angular-messages.min.js"></script>
        <script src="/WebProjectJava/resources/libraries/angular/angular-animate.min.js"></script>
        <script src="/WebProjectJava/resources/libraries/angular-growl/angular-growl.min.js"></script>
        
        
    </head>
    <body>
        <div class="panel-body" ng-controller="CustodioCtrl as ctrl" ng-cloak>
            
            <p>Current Petty cash balance: {{moneyAmount}}</p>
            <form role="form" name="userForm" ng-cloak>
                <!--AMOUNT-->
                <div class="form-group"
                     ng-class="{'has-error' : userForm.amountToInsert.$invalid && submitted}">
                    <label class="control-label">Amount:</label>
                    <div class="input-group col-xs-4">
                        <input class="form-control" placeholder="Amount:" 
                               name="amountToInsert"
                               ng-model="moneyToInsert.amount"
                               ng-maxlength="6"
                               ng-pattern="/^\$?\-?([1-9]{1}[0-9]{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\-?\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\(\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))\)$/"
                               required>
                        <span class="input-group-addon" id="basic-addon1">{{moneyToInsert.amount| currency:"usd: "}}</span>
                    </div>
                    <div class="help-block" ng-messages="userForm.amountToInsert.$error"  ng-cloak>
                        <div ng-message="required">this field is mandatory</div>
                        <p ng-message="maxlength">amount too large (6 digits max)</p>
                        <p ng-message="pattern">only numeric values with a maximun of two decimals</p>
                    </div>
                </div>

                <div class="panel-footer clearfix">
                    <div class="pull-left">
                        <input type="submit" 
                               ng-click="ctrl.submitRegisterMoneyInBank(moneyToInsert, userForm.$valid)" 
                               class="btn btn-primary" 
                               value="Aceptar"/>
                    </div>
                </div>
            </form>
        </div>
        <a href="/../WebProjectJava/" ><i class="fa fa-sign-out fa-fw"></i> go back to the menu</a>
    </body>
</html>
